<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Web Text Editor Target" sequenceNumber="50">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
<unit id="com.ibm.icu" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
</target>
