<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.eclipse.rap.incubator.texteditor.json.widget.JsonResource"
            id="org.eclipse.rap.incubator.texteditor.json.editor">
            <dependsOn
				resourceId="org.eclipse.rap.incubator.basictext">
			</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="org.eclipse.rap.incubator.texteditor.json.widget.Json"
            id="org.eclipse.rap.incubator.texteditor.json.widget.Json"
            name="Json">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.rap.incubator.texteditor.json.editor"
            name="Json Editor"
	            icon="icons/js_obj.png"
		            extensions="json"
           class="org.eclipse.rap.incubator.texteditor.json.JsonEditor"
            contributorClass="org.eclipse.rap.incubator.texteditor.json.JsonActionBarContributor">
      </editor>
   </extension>
</plugin>
